<div class="jumbotron">
  <h1>Ciao!</h1>
  <p class="lead">
    My name is Alessio Masucci and this is an Angular Demo App that use the Spotify API.
  </p>
</div>

<div class="row">
  <div class="container">
    <h3>Usage</h3>
    <p>
      From the terminal install <code>grunt-cli</code> and <code>bower</code>:<br>
      <code>$ npm install -g grunt-cli bower</code>
    </p>

    <p>
      After install all the dependencies with <code>npm</code> and <code>bower</code>:<br>
      <code>$ npm install</code><br>
      <code>$ bower install</code><br>
    </p>

    <p>
      In the root of this folder run the local server:<br>
      <code>$ grunt serve:dist</code><br>
      and Enjoy!
    </p>

  </div>
</div>
